<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Sistemas web com Django</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="navbar-fixed">
    <nav class="teal accent-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'Home' %}" class="brand-logo">ADS - Tecnologia web</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="{% url 'Home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'Contato' %}">Contato</a>
          </li>
          <li>
            <a href="{% url 'Login' %}">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  {% block conteudo %}{% endblock %}

  <footer class="page-footer  teal accent-4">
    <div class="footer-copyright">
      <div class="container">
        Template criado utilizando
        <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  <script>

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Hoje',
      clear: 'Limpar',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,
    });

  </script>

</body>

</html>