{% extends 'base.html' %} {% block conteudo %}

<div class="container">
  <h5 class="teal-text section center">Formulario de contato</h5>
  <form action="" method="POST">

    <fieldset>
      <legend>Dados pessoais</legend>
      <div class="row">
        <div class="input-field col s7">
          <label for="nCompleto">Nome completo: </label>
          <input type="text" name="nomeCompleto" id="nCompleto" maxlength="100" size="100" required>
          <br>
          <br>
        </div>
        <div class="input-field col s5">
          <label for="idEmail">E-mail do remetente</label>
          <input type="email" id="idEmail" name="email" maxlength="100" size="100" required>
          <br>
          <br>
        </div>
      </div>
    </fieldset>
    <br>

    <fieldset>
      <legend>Assunto da mensagem</legend>
      <input type="radio" name="opcao" value="Bug" required id="idBug">
      <label for="idBug">Bug</label>
      <br>
      <input type="radio" name="opcao" value="Reclamações" required id="idRec">
      <label for="idRec">Reclamações</label>
      <br>
      <input type="radio" name="opcao" value="Sugestões" required id="idSuges">
      <label for="idSuges">Sugestões</label>
      <br>
    </fieldset>
    <br>
    <div class="input-field col s12">
      <fieldset>
        <label for="idMsg">Texto da mensagem</label>
        <br>
        <textarea class="materialize-textarea" name="mensagem" id="idMsg" cols="60" rows="10" required></textarea>
        <br>
        <br>
      </fieldset>
    </div>
    <fieldset>
      <legend>Palavras chave</legend>
      <input type="checkbox" name="selecao" value="Problemas" id="idProb">
      <label for="idProb">Problemas</label>
      <br>
      <input type="checkbox" name="selecao" value="Tecnologia" id="idTec">
      <label for="idTec">Tecnologia</label>
      <br>
      <input type="checkbox" name="selecao" value="Impacta" id="idImp">
      <label for="idImp">Impacta</label>
      <br>
      <input type="checkbox" name="selecao" value="E-mail" id="id_email_chav">
      <label for="id_email_chav">E-mail</label>
      <br>
      <input type="checkbox" name="selecao" value="Sei lá" id="idSeila">
      <label for="idSeila">Sei lá</label>
      <br>
    </fieldset>
    <br>
    <div class="center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>
    <br>
    <br>

  </form>
</div>

{% endblock %}