body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav.menu{
    background: rgba(0, 0, 0, 0.788);
    text-align: center;
    width: 100%;
    position: absolute;
}

nav.menu img{
   float: left;
   width: 170px;
   margin-top: 20px;
   margin-left: 10px;
   
}

nav.menu li{
    display: inline-block;
    padding: 20px 15px 20px 0px;   
}

nav.menu a.borda{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom:32px;
     
}

nav.menu a.borda:hover{
    border-bottom: 5px white solid;
    border-color: rgba(84, 17, 209, 0.705);
}

div.banner h1{
    text-align: center;
    margin-top: -300px;
    color: #fff;
    display: block;
}
div.banner img{
    width: 100%;
    background-size: cover;
    height: 100vh;
    margin-top: -16px; 
}

section.cursos{
    margin-top: 280px;
    text-align: center;
}

section.cursos h1{
    color: blue;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section.cursos ul{
    padding: 0px;
       
}

section.cursos li{
    display: inline-block;
    width: 250px;
    padding: 10px;
       
}

section.cursos img{
    width: 100%;
    background-size: cover;    
}

section.cursos a{
   text-decoration: none;
   color: blue;
   text-transform: uppercase;
   margin-top: 10px;
   display: inline-block;
}
section.cursos p{
    text-align: justify;
    font-size: 25px;
    padding-left: 130px;
    padding-right: 130px;
 }
 
 footer.footer{
     background: black;
     padding: 25px;
 }
 footer.footer a{

    color: #fff;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.butao{
    background-color: cadetblue;
    padding: 10px;
    width: 100px;
    color: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

div.login{
    text-align: center;
}
div.login p input{
    padding: 10px;
    width: 200px;
    border-radius: 20px;
}


header label[for="bt_menu"]{
    padding: 5px;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}
#bt_menu{
    display: none;
}
@media(max-width: 890px){
    header{
        background: #000;
    }
    header label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ nav.menu{
      margin-left: 0;  
    }
    nav.menu ul li{
        width: 100%;
        float: none;
        padding: 15px 0px 15px 0px;
    }
    nav.menu{
        
        overflow: hidden;
        margin-top: 5px;
        margin-left: -100%;
        transition: all .5s;
        text-align: center;
    }

    nav.menu img{
        display: none;
        
     }

     nav.menu a.borda{
        padding-bottom:10px;
         
    }
    
    nav.menu a.borda:hover{
        border-bottom: 5px white solid;
        border-color: rgba(84, 17, 209, 0.705);
    }


}

.buttonlogin {
    background-color: rgb(39, 66, 184);
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 15px;
    position: absolute;
    float:right;
    top:8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;

}
.container{
    padding: 100px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}


div.table-center{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
}

div.container-center{
    margin-top: 40px;
    margin-bottom: 205px;
    display: grid;
    justify-content: center;
}


table th{
    background: darkgrey;
    padding: 15px;
}

table td{
    padding: 15px;
    background: rgb(228, 228, 228);
}

div.container h2{
    text-transform: uppercase;
}

div.container3{
    width: 100%;
    padding-top: 100px;
    margin: 100px, auto, 200px, auto;
    display:inline-block;
}


iframe#frame-spec {
    width: 400px;
    height: 370px;
    border: none;
    overflow: hidden;
    display: inline-block;

}

div#esquerda {
    padding-top:50px;
    padding-left:50px;
    padding-right: 30px;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    float: left;
}

div#esquerda a{
    color: black;
    text-decoration: none;
}

div#esquerda a:visited{
    color: black;
}

div#direita {
    display: inline-block;
    padding-top:50px;

}

div.menudireita {
    position:relative;
    float:right;
    padding:10px;
    margin:5px;
    width:15%;
}

span.login {
    position: absolute;;
    font-size:10px;
    padding:0;
    margin-top:0;
    top:8px;
    right:15px;
    color: #fff;
}

span.login:hover{
    color:blueviolet;
}


span.logout {
    position: absolute;
    font-size:10px;
    padding-top:0;
    margin-top:0;
    right:15px;
    color: #fff;
}

span.logout:hover {
    color:blueviolet;
}

div.containerarea{
    max-width:1000px;
    padding-top:120px;
    padding-bottom: 50px;
    display: table;
    margin:0 auto;
}
div.menuesquerda {
    width:250px;
    padding-top:15px;
    padding-left: 20px;
    padding-right: 20px;
    margin:3px;
    float: left;
}
div.menuesquerda li{
    list-style:none;
    margin:50px 0px;
}

div.menuesquerda p#menu {
    padding:15px;
    background-color:rgba(44, 44, 255, 0.733);
    text-align:center;
    text-transform:uppercase;
    color:rgb(0, 0, 0);
    font-size:15px;
}

div.menuesquerda a#aprincipal:hover {
    background-color:rgba(118, 118, 255, 0.438);
}

div.menuesquerda a#aprincipal{
    padding:15px 74px;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.836);
    text-decoration: none;
    color:black;
}
div.menuesquerda a#anotas:hover {
    background-color:rgba(118, 118, 255, 0.438);
}

div.menuesquerda a#anotas{
    padding:15px 84px;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.836);
    text-decoration: none;
    color:black
}

div.menuesquerda a#anotas:hover {
    background-color:rgba(118, 118, 255, 0.438);
}

div.menuesquerda a#anotas{
    padding:15px 84px;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.836);
    text-decoration: none;
    color:black
}
div.menuesquerda a#amensagens{
    padding:15px 63px;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.836);
    text-decoration: none;
    color:black;
}
div.menuesquerda a#aatividades{
    padding:15px 68px;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.836);
    text-decoration: none;
    color:black;
}

div.menuesquerda a#amensagens:hover {
    background-color:rgba(118, 118, 255, 0.438);
}
div.menuesquerda a#aatividades:hover {
    background-color:rgba(118, 118, 255, 0.438);
}

div.subconteudo {
    width:600px;
    position: relative;
    float:left;
    padding:10px;
}

div.containerform{
    border-left:2px rgba(177, 177, 177, 0.603) solid;
    margin:0px 10px 5px 10px;
    padding-left:10px;
}

div.containerform h1{
    background-color:rgba(226, 226, 226, 0.425);
    height: 50px;
    width:100%;
    padding-top:10px;
    padding-left:10px;
    margin-bottom: 0px;
    font-size: 20px;
}

div.containerform p{
    font-size:8pt;
    text-indent: 5px;
    color:rgb(255, 131, 131)
    
}

div#form {
    background-color:rgba(226, 226, 226, 0.425);
    height: 30px;
    width:100%;
    padding-top:10px;
    padding-left:10px;
}


div#form input{
    width: 250px;
    position: absolute;
    right: 40px;
}

div#form select{
    width: 255px;
    position: absolute;
    right: 40px;
}

div#formtextarea {
    background-color:rgba(226, 226, 226, 0.425);
    height: 250px;
    width:100%;
    padding-top:10px;
    padding-left:10px;
    
}

div#formtextarea textarea {
    position: absolute;
    right: 40px;
    resize:none;
}

div#formbutton {
    background-color:rgba(226, 226, 226, 0.425);
    height: 50px;
    width:100%;
    padding-top:10px;
    padding-left:10px;

}
div#formbutton button{
    position: absolute;
    right:40px;
    background-color:rgba(122, 93, 252, 0.685);
    padding:10px 20px;
    border-radius: 15%;
}

div#formbutton button:hover {
    background-color:rgba(160, 139, 255, 0.685);
}